<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
            <li class="list-group-item">
                <div class="lead">
                    <h2><a href="/posts/{{this._id}}" class="title-link">{{this.title}}</a></h2>
                </div>
                {{#if this.url}}
                <a href="{{this.url}}" target="_blank">Link to article</a>
                {{/if}}
                <div class="text-right">{{this.subreddit}}</div>
                <div class="btn-container">
                    <form class="vote-up" data-id="{{this._id}}">
                        <button type="submit" class="btn btn-primary upvote"><i class="far fa-thumbs-up"></i></button>
                    </form>
                    <form class="vote-down"data-id="{{this._id}}">
                        <button type="submit" class="btn btn-primary downvote"><i class="far fa-thumbs-down"></i></button>
                    </form>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>



<!-- <body>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
            <li class="list-group-item">
                <div class="lead">{{this.title}}</div>
                <a href = "/posts/{{this._id}}" class ="lead">{{this.title}}</a>
                <div class = "text-right">
                    <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
                </div>
                <a href="{{this.url}}" target="_blank">{{this.url}}</a>
            </li>

            {{/each}}
        </ul>
    </div>
</div>
</body> -->
